* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Space Mono', monospace;
  background-color: hsl(185, 41%, 84%);
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
}

.header {
  padding: 10%;
}

.container {
  display: flex;
  background-color: #fff;
  justify-content: center;
  padding: 20px;
  margin: auto;
  border-radius: 15px;
  width: 100%;
}

.input {
  padding: 10px 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bill,
.tip,
.people {
  margin-bottom: 20px;
}

.label_wrap {
  color: hsl(183, 100%, 15%);
}

.input_wrap img {
  position: absolute;
  padding: 20px;
}

.input_wrap input {
  width: 100%;
  text-align: right;
  padding: 10px;
  background-color: hsl(189, 41%, 97%);
  border: none;
  font-family: 'Space Mono', monospace;
  font-size: 24px;
  font-weight: 400;
  color: hsl(183, 100%, 15%);
}

.input_wrap input::placeholder {
  color: hsl(184, 14%, 56%);
  opacity: 1;
}

input::placeholder {
  color: hsl(183, 100%, 15%);
  font-family: 'Space Mono', monospace;
}

input:focus {
  outline: none;
  border: 2px solid hsl(172, 67%, 45%);
  border-radius: 5px;
}

input:hover {
  cursor: pointer;
  border: 2px solid hsl(172, 67%, 45%);
  border-radius: 5px;
}

.btn_container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 10px;
  margin: 15px 0;
}

.tip_btn {
  font-size: 18px;
  padding: 10px;
  background-color: hsl(183, 100%, 15%);
  color:hsl(0, 0%, 100%);
  border: none;
  border-radius: 5px;
}

.tip_btn:hover,
.reset-btn:hover {
  cursor: pointer;
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.tip_btn:focus {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.custom_btn {
  text-align: center;
  font-size: 18px;
  background-color: hsl(189, 41%, 97%);
  border: none;
  color: hsl(183, 100%, 15%);
}

.output {
  background-color: hsl(183, 100%, 15%);
  border-radius: 15px;
  padding: 40px;
  width: 100%;
}

.amount {
  margin-bottom: 100px;
}

.amount_wrap {
  display: flex;
  justify-content: space-between;
}

.tipAmount {
  margin-bottom: 40px;
}

.tipAmount > label,
.totalAmount > label {
  color: hsl(0, 0%, 100%);
}

.tipAmount > p,
.totalAmount > p {
  color: hsl(184, 14%, 56%);
}

.value {
  color: hsl(172, 67%, 45%);
  font-weight: 400;
  font-size: 36px;
}

.reset-btn {
  width: 100%;
  background-color: hsl(184, 14%, 56%);
  color: hsl(186, 14%, 43%);
  border: none;
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

@media only screen and (max-width: 750px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .btn_container {
    grid-template-columns: 45% 45%;
  }

  .input {
    padding: 0;
  }
  
  .output {
    padding: 40px 15px 20px 15px;
  }
}